<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}"
      th:object="${user}">
  <label for="name">Введите имя</label>
  <input id="name" type="text" th:field="*{name}" >
    <div style="color:palevioletred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка имени</div>
  <br>
    <label for="lastname">Введите фамилию</label>
    <input type="text" id="lastname" th:field="*{lastname}">
    <div style="color:palevioletred" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Ошибка фамилии</div>
    <br>
    <label for="email"> Email</label>
    <input id="email" type="text" th:field="*{email}"/>
    <div style="color:palevioletred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка почты</div>
    <br>
  <input type="submit" value="Update">
</form>
</body>
</html>